extends layout

block content
  h1 
  form(method="POST" action="/new")
    input(type="textarea",name="messageText", placeholder = "Enter your message", id = "message", required=true) 
    input(type="text",name = "messageUser",placeholder  ="Enter you name", id="author", required=true)
    button(type="submit") Submit


